# ==============================
# Ignore all day folders
# ==============================

# lowercase
day*/
*day*/

# uppercase
DAY*/
*DAY*/

# days folder
days/


# ==============================
# Ignore all Markdown files
# ==============================

*.md